{
  "presets": [
    ["@babel/preset-env", { "modules": false }],
    "@babel/preset-stage-0",
    "@babel/preset-react"
  ],
  "plugins": ["babel-plugin-macros"],
  "env": {
    "build": {
      "ignore": ["src/__stories__/**/*.js", "src/__tests__/**/*.js"]
    },
    "test": {
      "presets": [
        ["@babel/preset-env"],
        "@babel/preset-stage-0",
        "@babel/preset-react"
      ]
    }
  }
}
